.footer {
    .top {
        background: #202020;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 4rem 0;
        gap: 2rem;
        form {
            position: relative;
            min-width: 65vw;
            min-height: 7vh;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #fff;
            padding: 0.1rem;
            @media only screen and (max-width: 580px) {
                min-width: 90vw;
            }
            @media only screen and (max-width: 413px) {
                flex-direction: column;
                justify-content: center;
                background: transparent;
            }
            input {
                flex: 2;
                color: #7a8ab0;
                padding: 0 0 0 1rem;
                text-transform: uppercase;
                letter-spacing: 1.5px;
                border: none;
                font-size: clamp(0.55rem, 2vw, 1rem);
                &:focus {
                    outline: none;
                }
                @media only screen and (max-width: 413px) {
                    padding: 1rem;
                    min-width: 80vw;
                    text-align: center;
                }
            }
            button {
                background-color: #000;
                color: #f1f1f1;
                font-size: 1.15rem;
                outline: none;
                border: none;
                min-width: 2rem;
                cursor: pointer;
                padding: 0.5rem;
                @media only screen and (max-width: 413px) {
                    min-width: 80vw;
                }
            }
        }
        img {
            height: clamp(3rem, 6vw, 15rem);
        }
    }
    .bottom {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 1rem;
        gap: 1rem;
        font-size: clamp(0.55rem, 0.8vw, 1rem);
        text-transform: uppercase;
        color: #939393;
        background-color: #000;
        height: 7vh;
    }
}
