@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@400;500;600;700&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Palanquin Dark', sans-serif;
}
.nav{
    min-height: 7.4vh;
    display: grid;
    grid-template-columns:2rem auto auto 2rem;
    grid-template-areas: 
    ". logo links .";
    align-items: center;
    position: sticky;
    top:0;
    z-index: 4;
    background: #202020;
    @media only screen and (max-width:768px){
        grid-template-columns:1em auto 1fr auto 1em;  
        grid-template-areas: 
        ". logo . menu-icon .";        
    }
    .logo{
        cursor: pointer;
        grid-area: logo;
        img{            
            height: 2rem;
        }
    }
    .nav-menu{
        grid-area: links;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap:2rem; 
        position: relative;
        height: 100%;
        .nav-link{     
            cursor: pointer;
            height: 100%;
            display: flex;
            align-items: center;
            font-size: .75rem;
            color:#8E8E8E;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 800;
            letter-spacing: 1.5px;
            &:hover{                    
                color:#e7e7e7;
            }
        }
        @media only screen and (max-width:768px){
            opacity: 0;
            height: 70vh;
            width: 100vw;
            top:0;
            position: fixed;
            flex-direction: column;
            justify-content: center;
            gap:0;
            padding: 100px 0;
            left:-1000px;
            background-color: #202020;              
            transition: all .2s ease-in-out; 
            .nav-link{
                display: flex;
                justify-content: center;
                &:hover{
                    border:none;
                }   
            }
        }
    }
    .active{
        opacity: 1;
        left: 0;
        transition: left .2s ease-in-out;    
    }        
    .menu-icon{
        cursor: pointer;
        z-index: 5;
        display: none;
        font-size: 1.5rem;
        grid-area: menu-icon;   
        color:#e7e7e7;        
        @media only screen and (max-width:768px){                              
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }
}


.home{
    color:#e7e7e7;
    .bg{
        height: 65vh;
        background-image: url('https://pbs.twimg.com/media/EinRHgcWsAEfXXx.jpg');
        background-position: center;
        background-size: cover;
        background-attachment: fixed;   
        background-repeat: no-repeat;
    }
    .featured{
        min-height: 30vh; 
        padding:1rem;
        color:#000;
        text-transform: uppercase;
        background-color: #f1f1f1;  
        a{
            text-decoration: none;
            color:#2C2C2C;
            font-weight: lighter;
        }
        line-height: 17px;    
        h2{
            font-weight: 550;
            text-align: center;
            font-size: 1.2rem;
            padding:0 1rem 2rem 1rem;
            overflow: hidden;
            span{
                position: relative;
                display: inline-block;            
                &::before, &::after{
                    border-bottom:1px solid #000;
                    border-top:0 solid #000;
                    content:"";
                    height:7px;
                    position:absolute;
                    top:25%;
                    width:1000px;
                }
                &::before{
                    right:100%;
                    margin-right:15px;
                }
                &::after{
                    left:100%;
                    margin-left:15px;
                }
            }
        }
        .images{
            display: flex;
            gap:5rem;
            justify-content: center;
            align-items: flex-start;
            min-height: 30vh;
            &::-webkit-scrollbar {
                width: 0px;
              }
              &::-webkit-scrollbar-track {
                background: #f1f1f1; 
              }
              &::-webkit-scrollbar-thumb {
                background: #9c9c9cc0;
              }
              &::-webkit-scrollbar-thumb:hover {
                background: #9c9c9c;
              }
               
              
            @media only screen and (max-width:1160px) {
                justify-content: flex-start;
            }  
            .img{
                width: 10rem;      
                display: flex;
                flex-direction: column;      
                justify-content: center;
                align-items: center;
                gap:1rem;  
                margin:0 0 1rem 0;
                img{
                    height: 25rem;
                }
                p{
                    text-align: center;
                    word-wrap: break-word;
                    font-size: .75rem;
                }
            }
        }
    }
}
.guitars{
    min-height: 100vh;
    .bg{        
        height: 40vh;
        background-image: url('https://images.ctfassets.net/4jcppgetbqrc/6k2U3nRBIcq8iM6QCAUksa/d120abf8a175da787ce1913e89960a26/CS-Dinky-Coral-Sea.jpg');
        filter:grayscale(100%);
        background-position: 0 -250px;
        background-attachment: fixed;
        position: relative;
        &::before{
            content: "";
            height: 100%;
            width: 100%;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.75);
        }
        &::after{
            content: "Gitárok";
            position: absolute;
            left:50%;
            top:50%;
            transform:translate(-50%, -50%);
            color:#f1f1f1;
            font-size: 3rem;
            letter-spacing: 7px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
    .guitars-container{
        min-height: 100vh;
        background: #020202;
        display: flex; 
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap:2rem;   
        a{text-decoration: none;}
        padding:4rem 0;
        .guitar{
            height: 28rem;
            width: 26rem;
            background-attachment: fixed;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;    
            overflow: hidden;  
            text-align: center;
            cursor: pointer;
            background: rgb(26,16,31);
            background: linear-gradient(106deg, rgba(26,16,31,1) 0%, rgba(23,24,40,1) 60%, rgba(23,23,39,1) 87%, rgba(23,22,38,1) 97%);
            &:hover .img img{
                width: 7.5rem;
                transform:rotate(45deg);
                transition: all .3s ease-in-out;
            }
            .img{
                img{
                    width: 14rem;
                    transition: all .3s ease-in-out;
                }
            }
            .name{
                color:#fff;
                min-height: 7vh;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                line-height: 20px;
                font-size: .85rem;  
                background: #020202;
            }
        }
    }
}
.guitar-specs{
    background-color: rgba(0, 0, 0, 0.496);
    min-height: 100vh;
    .top{
        background:linear-gradient(to bottom, #0e0e0e 20%, #202020 50%, #f1f1f1 50%, #f1f1f1 100%);
        height: 100vh;
        color:#f1f1f1;
        padding:0 2rem;
        display: grid;
        grid-template-rows:  .5fr 1fr 1fr 1fr .5fr;
        .name-cost{
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            font-size: clamp(.45rem, 1.1vw, 2rem);
            padding:0 0 1rem 0;
        }
        .big-img{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 85%;
            }
        }.scrollSoctainer{
            padding:0 0 2rem 0;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            width: 90%;
            gap:1rem;
            margin: 0 auto;
            &::-webkit-scrollbar {
             width: 0px;
             }
             &::-webkit-scrollbar-track {
                 background: #f1f1f1; 
             }
             &::-webkit-scrollbar-thumb {
                 background: #9c9c9cc0;
             }
             &::-webkit-scrollbar-thumb:hover {
                 background: #9c9c9c;
             }
             img{
                 height: 3rem;
                 margin: 0 auto;
                 width: auto;
             }
        }
    }
    .full-screen-image{
        background-color: #202020e8;
        position: fixed;
        top:0;
        left:0;
        width: 100vw;
        height: 100vh;
        z-index: 4;
        display: grid;
        grid-template-rows: 13% 74% 13%;
        .exit{
            display: flex;
            justify-content: flex-end;
            padding:1rem 2rem 0 0;
            align-items: flex-start;
            color:#f1f1f1;
            font-size: 2rem;
        }
        .f-img{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                height: 70%;
            }
        }
        .arrows{
            color:#f1f1f1;
            font-size: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            gap:2rem;
        }
    }
}
.footer{
    .top{
        background: #202020;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:4rem 0;
        gap:2rem;
        form{
            position: relative;
            min-width: 65vw;
            height: 7vh;
            display: flex;
            justify-content: space-between;
            background: #fff;
            padding:.1rem;
            @media only screen and (max-width:580px){
                min-width: 90vw;
            }
            input{
                flex: 2;
                color:#7A8AB0;
                height: 100%;
                padding: 0 0 0 1rem;
                text-transform: uppercase;
                letter-spacing: 1.5px;
                border:none;
                &:focus{
                    outline: none;
                }
            }
            button{
                background-color: #000;
                color:#f1f1f1;
                font-size: 1.15rem;
                outline:none;
                border:none;
                min-width: 2rem;
                cursor: pointer;
                padding:.5rem;
            }
        }
        img{
            height: clamp(3rem, 6vw, 15rem);
        }
    }
    .bottom{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding:0 1rem;
        gap:1rem;
        font-size: .75rem;
        text-transform: uppercase;
        color:#939393;
        background-color: #000;
        height: 7vh;
        p::after{
            content: "";
            position: absolute;
            height: .75rem;
            margin:.37rem 0 0 .47rem;
            width: 1px;
            background-color: #939393;
        }
        p:last-child::after{
            all:unset;
        }
    }
}