@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.nav{
    grid-area: nav;
    height: 7.4vh;
    display: grid;
    grid-template-columns:2rem auto auto 2rem;
    grid-template-areas: 
    ". logo links .";
    align-items: center;
    position: sticky;
    top:0;
    z-index: 4;
    background: #202020;
    @media only screen and (max-width:768px){
        grid-template-columns:1em auto 1fr auto 1em;  
        grid-template-areas: 
        ". logo . menu-icon .";        
    }
    .logo{
        cursor: pointer;
        grid-area: logo;
        height: 2rem;
    }
    .nav-menu{
        grid-area: links;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap:2rem; 
        position: relative;
        height: 100%;
        .nav-link{     
            cursor: pointer;
            height: 100%;
            display: flex;
            align-items: center;
            font-size: .75rem;
            color:#8E8E8E;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 800;
            letter-spacing: 1.5px;
            &:hover{                    
                color:#e7e7e7;
            }
        }
        @media only screen and (max-width:768px){
            opacity: 0;
            height: 70vh;
            width: 100vw;
            top:0;
            position: fixed;
            flex-direction: column;
            justify-content: center;
            gap:0;
            padding: 100px 0;
            left:-1000px;
            background-color: #202020;              
            transition: all .2s ease-in-out; 
            .nav-link{
                display: flex;
                justify-content: center;
                &:hover{
                    border:none;
                }   
            }
        }
    }
    .active{
        opacity: 1;
        left: 0;
        transition: left .2s ease-in-out;    
    }        
    .menu-icon{
        cursor: pointer;
        z-index: 5;
        display: none;
        font-size: 1.5rem;
        grid-area: menu-icon;   
        color:#e7e7e7;        
        @media only screen and (max-width:768px){                              
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }
}

.bg{
    background-image: url('https://pbs.twimg.com/media/EinRHgcWsAEfXXx.jpg');
    background-position: center;
    background-size:cover;
    position: fixed;
    background-repeat: no-repeat;
    top:7.4vh;
    left:0;
    z-index: -1;
    height: 100vh;
    width: 100vw;
}
.home{
    min-height: 100vh;  
    color:#e7e7e7;
    background-color: rgba(0, 0, 0, 0.4321);
}
.featured{
    min-height: 30vh;  
    padding:1rem;
    color:#000;
    text-transform: uppercase;
    background-color: #f1f1f1;
    h2{
        font-weight: 550;
        text-align: center;
        font-size: 1.2rem;
        padding:0 1rem 2rem 1rem;
        overflow: hidden;
        span{
            position: relative;
            display: inline-block;            
            &::before, &::after{
                border-bottom:1px solid #000;
                border-top:0 solid #000;
                content:"";
                height:7px;
                position:absolute;
                top:25%;
                width:1000px;
            }
            &::before{
                right:100%;
                margin-right:15px;
            }
            &::after{
                left:100%;
                margin-left:15px;
            }
        }
    }
    .images{
        display: flex;
        gap:5rem;
        overflow-x: hidden;
        justify-content: center;
        align-items: flex-start;
        min-height: 30vh;
        .img{
            width: 10rem;      
            display: flex;
            flex-direction: column;      
            justify-content: center;
            align-items: center;
            gap:1rem;     
            img{
                height: 25rem;
            }
            p{
                text-align: center;
                word-wrap: break-word;
                font-size: .75rem;
            }
        }
    }
}